body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.ok-div{
  background-color: #00B7FF;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}